.footer__title {
  font-size: var(--size-sm);
  font-weight: 400;
  color: var(--clr-yellow);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  user-select: none;
  margin-top: 1.5rem;
}
